<%= render 'layouts/error', :object => @property %>

<%=form_for @property, :html => { :multipart => true } do |f| %>
  <div class="form_group">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="form_group">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="form_group">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="form_group">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Photo" %><br />
    <%= f.file_field :image %>
  </div>
  <br>
<%= f.submit(:class => "btn btn-primary") %>
<% end %>
