<div class="row">
  <div class="col-md-8">
    <h1><%= @reservation.user.name %></h1>
    <p><%= @reservation.property.address %></p>
    <p><%= @reservation.check_in %></p>
    <p><%= @reservation.check_out%></p>
    <p><%= @reservation.property.price %></p>
  </div>
  <div class="col-md-4">
  </div>
</div>
