<div class="row">
  <div class="col-md-8">
    <p>reservation for:</p><h2><%= @reservation.user.name %></h2>
    <p>address of property<%= @reservation.property.address %></p>
    <p><%= @reservation.check_in %></p>
    <p><%= @reservation.check_out%></p>
    <p><%= number_to_currency(@reservation.property.price) %></p>
  </div>
  <div class="col-md-4">
  </div>
</div>
